.SearchBar {
  margin-bottom: 10px;
}
.SearchBar > nav > ul {
  display: flex;
  padding: 20px;
  margin: 0;
  background-color: black;
  justify-content: space-evenly;
}

.Inicio {
  color: white;
  font-size: 40px;
  text-decoration: none;
  justify-content: space-evenly;
}

.New {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.SearchBar a:hover {
  text-decoration: underline;
  color: rgb(0, 12, 182);
}
.publicacion {
  padding: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
  background-color: grey;
  border: 4px solid black;
  font-size: 30px;
}

.publicacion a {
  text-decoration: none;
  color: black;
}

.publicacion button {
  border: 2px solid black;
  margin: 10px;
}

body {
  margin: 0;
  display: flex;
  background-color: rgb(95, 0, 95);
  flex-direction: column;
  min-height: 100vh;
}

footer > div{
  margin-top: auto;
  border: 4px solid black;
  background-color: gray;
  text-align: center;
}

.remove {
  margin-left: 10px;
}

.admin {
  color: red;
  margin-top: 0;
  font-size: 38px;
}

.h4-h4{
  font-size: 25px;
}