.remove {
  margin-left: 10px;
}

.admin {
  color: red;
  margin-top: 0;
}

#SearchBar nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  padding: 15px 10vw 15px 10vw;
  margin-bottom: 10px;
}

#SearchBar nav ul li a {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

#SearchBar nav ul li a:hover {
  text-decoration: underline;
  color: rgb(0, 12, 182);
}
.publicacion {
  padding: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
  background-color: grey;
  font-size: 30px;
}

body {
  margin: 0;
  background-color: purple;
}

nav > ul {
  margin: 0;
}