.Nav-comentar {
    margin-bottom: 10px;
  }

.Nav-comentar > ul {
    display: flex;
    padding: 20px;
    margin: 0;
    font-size: 40px;
    background-color: black;
  }

.comentarios {
    background-color: orangered;
    border: 4px solid black;
    margin-bottom: 10px;
    font-size: 30px;
}

.comentarios > p {
    margin-left: 10px;
}

.Comen-title {
    font-size: 20px;
    margin-left: 20px;
    color: gold;
}

.form-comentarios {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-comentarios > input{
    width: 80px;
    height: 30px;
    margin: 10px;
    margin-left: 25px;
}

.form-comentarios > input[type=text]{
    width: 350px;
    height: 30px;
    margin: 10px;
}

.form-comentarios > textarea {
    margin: 10px;
    resize: none;
    width: 390px;
    height: 290px;
}