
.Nav-comentar {
    margin-bottom: 10px;
    list-style-type: none;
padding: 20px;
background-color: black;
font-size: 40px;

}

.comentarios {
    background-color: orangered;
}

.boton_comment {
    display: flex;
    flex-direction: column;
}