nav > ul {
display: flex;
list-style-type: none;
padding: 20px;
background-color: black;
font-size: 40px;
margin: 0;
justify-content: flex-start;
}

.inicio {
  text-decoration: none;
  color: white;
}

input[type=text] {
    border-radius: 0;
    width: 250px;
    height: 30px;
    margin: 10px;
    border-color: rgba(0,0,0, 0.4);
}
input[type=submit] {
    width: 60px;
    height: 30px;
    margin: 10px;
    border-color: rgba(0, 0, 0, 0.4);
}
textarea{
    width: 250px;
    height: 250px;
    padding: 12px 20px;
}

body {
    margin: 0;
  }
  
  div > ul {
    margin: 0;
  }

  .asd {
      /* margin-left: 500px;
      margin-right: 500px; */
      background-color: orange;
      text-align: center;
      display: flex;
      flex-direction: column;
      resize: none;
  }

  /* .create-post {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: 0 auto;
      gap: 10px;
  } */